/* main events */

body{
    padding: 0em;
}

li {
    display: inline;
}

footer {
    padding: 0.5em;
    background: #0B615E;
}

img {
    margin: 0em;
}

/* classes being now */

.main-nav {
    margin: 0em;
    padding: 0.25em;
    background: grey;
}

.top{
    margin: 0em;
    padding: 0.5em;
    background: #D8D8D8;
}

.wrapper {
    margin: 0em;
    padding: 0em;
}

.SideBar {
    margin: 0em;
    padding: 0.5em;
    background: #848484;
}

/* reset grids */

.row, 
.column {
    box-sizing: border-box;
}

/* clear floats*/ 

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

/* grid layout starts! */

.column {
    position: relative;
    float: left;
    display: block;
}

.column + .column {
    margin-left: 0;
}

.column-3 {
    width: 23.8%;
}

.column-9 {
    width: 74.6%;
}