.logo {
  display: block;
  text-indent: -9999px;
  width: 100px;
  height: 82px;
  background: url(kiwi.svg);
  background-size: 100px 82px;
}

html, body, header { 
  background-image: url("../img/swirl_pattern_jmt.png");           
  margin: 0;
  padding: 0;
}

.fa-location-arrow {
  vertical-align: middle;
  color:#000;
  padding: 5px;
}

.fa-question {
  vertical-align: middle;
  color:#000;
  padding: 5px;
} 

.fa-tasks {
  vertical-align: middle;
  color:#000;
  padding: 5px; 
}

.fa-github {
  color: #000;
  padding: 5px;
}

.fa-twitter {
  color:#58ACFA;
  padding: 5px;
}

.fa-google-plus {
  color:#FF0000;
  padding: 5px;
}